<p>samurai works!</p>

<Button (click)="GetAllFromApi()">Get all</Button>
<Button (click)="ShowList()">Show list</Button>
<button (click)="AddSamuraiToApi()">Add</button>

<div *ngIf="showSamuraiList">
  <ul *ngFor="let samurai of SamuraiList">
    <li>
      {{ samurai.id}}
    <li>
      {{ samurai.name }}
    </li>
    <li>
      {{ samurai.description }}
    </li>
    <li>{{ samurai.age }}</li>
    <li>{{ samurai.horse?.name }}</li>
  </ul>
</div>

<br>
<br>
<hr>
<br>

<div>
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <div class="columnContainer">
      <div class="columnOne">
        <label for="">Name: </label>
        <label for="">Description: </label>
        <label for="">Age: </label>
      </div>

      <div class="columnTwo">
        <input type="text" id="name" name="name" class="form-control" formControlName="name" placeholder="Name"
          required />
        <div
          *ngIf="registerForm.get('name')?.invalid && (registerForm.get('name')?.dirty || registerForm.get('name')?.touched)"
          class="alert alert-danger">
          <div *ngIf="registerForm.get('name')?.errors">Name is required.</div>
          <div *ngIf="registerForm.get('name')?.errors">Name must be at least 4 characters long.</div>
          <div *ngIf="registerForm.get('name')?.errors">Name can not contain whitespace.</div>
        </div>
        <input type="text" formControlName="description" placeholder="Description">
        <input type="number" formControlName="age" placeholder="Age">
      </div>
    </div>
    <div class="buttonContainer">
      <button type="submit">Add</button>
    </div>

  </form>
</div>
