<h3>Samurai works!</h3>

<Button (click)="GetAllFromApi()">Get all</Button>
<Button (click)="ShowList()">Show list</Button>
<button (click)="AddSamuraiToApi()" disabled>Add</button>
<button (click)="flemmingWeirdFunction()">Flemming</button>

<div *ngIf="showSamuraiList">
  <ul *ngFor="let samurai of SamuraiList">
    <li>
      {{ samurai.id}}
    <li>
      {{ samurai.name }}
    </li>
    <li>
      {{ samurai.description }}
    </li>
    <li>{{ samurai.age }}</li>
    <li>{{ samurai.horse?.name }}</li>
  </ul>
</div>

<div class="hrLine">
  <hr>
</div>

<div>
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <div class="columnContainer">
      <div class="columnOne">
        <label for="">Name: </label>
        <label for="">Description: </label>
        <label for="">Age: </label>
      </div>
      <div class="columnTwo">
        <div class="columnTwo">
          <input type="text" id="name" name="name" class="form-control" formControlName="name" placeholder="Name"
            required />
          <div
            *ngIf="registerForm.get('name')?.invalid && (registerForm.get('name')?.dirty || registerForm.get('name')?.touched)">
            <div *ngIf="registerForm.get('name')?.errors">{{ registerForm.get('name')?.errors }}</div>
          </div>
        </div>
        <input type="text" formControlName="description" placeholder="Description">
        <input type="number" formControlName="age" placeholder="Age">
      </div>
    </div>
    <div class="buttonContainer">
      <button type="submit">Add</button>
    </div>
  </form>
</div>
